/* MainComponent.css */

.container {
    display: flex;
    color: #0098EA;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    /*background-color: #f0f0f0;*/
    padding: 20px;
    font-family: Arial;
}

.bird-img {
    height: 50vh;
    width: auto;
}

.timer-bar {
    margin-bottom: 20px;
    font-size: 24px;
}
