.header-container {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    width: 100%;
}

.title-image {
    height: 10vh;
    width: auto;
}

.ton-connect-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.ton-connect-icon {
    display: block;
    width: 8vw;
    height: auto;
}