.footer-menu {
    align-content: center;
    background: antiquewhite;
    color: #0098EA;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
    /*overflow: clip;*/
    position: fixed;
    bottom: 0;
    left: 0;
    text-decoration: none;
    width: 100%;
}

.footer-menu div {
    padding: 10px;
}

.footer-link {
    color: inherit;       /* Убирает цвет ссылки */
    text-decoration: none; /* Убирает подчеркивание */
    background-color: transparent; /* Убирает цвет фона */
    padding: 10px;
}

/* Дополнительно можно сбросить стили для посещенных, активных и наведенных ссылок */
.footer-link:visited {
    color: inherit;
}

.footer-link:hover {
    color: inherit;
    text-decoration: none;
}

.footer-link:active {
    color: inherit;
    text-decoration: none;
}
