* {
  background: antiquewhite;
  margin: 0;
  padding: 0;
  overflow: clip;
}

.App {
  align-items: center;
  background-color: antiquewhite;
  color: mediumpurple;
  /*--bg-image: url('./img/background-img.jpg');*/
  /*--bg-image-opacity: 0.35;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*gap: 20px;*/
  height: 90vh;
  /*position: absolute;*/
  /*position: relative;*/
  /*isolation: isolate;*/
}

/*.App::after {*/
/*  background-image: var(--bg-image);*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  content: '';*/
/*  inset: 0;*/
/*  opacity: var(--bg-image-opacity);*/
/*  position: absolute;*/
/*  z-index: -1;*/
/*}*/