
.claim-button {
    padding: 10px 15px;
    background: orange;
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    width: 300px;
}

.claim-button:active {
    transform: scale(0.98); /* Уменьшаем размер кнопки на 2% для эффекта нажатия */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}